.body {
  height: 100vh;
  overflow: scroll;
}
/*mainPageのスタイリング*/
.mainPage {
  text-align: center;
}
.mainPage h3 {
  margin-top: 4rem;
  font-size: 2rem;
  color: #ffffff;
  font-style: italic;
}
.mainPage h4 {
  font-size: 1.3rem;
  font-style: italic;
  margin-right: 10rem;
}
.mainPage form {
  margin: 4rem;
  display: flex;
  justify-content: center;
}
.mainPage input {
  width: 15rem;
  height: 2rem;
  border-radius: 0.5rem;
  border-style: hidden;
  margin-right: 0.1rem;
}
.mainPage input::placeholder {
  color: #a0a0a0;
  padding-left: 1rem;
}
.mainPage button {
  border-radius: 0.5rem;
  border-style: hidden;
  background-color: #ffffff;
}
@media (max-width: 480px) {
  .mainPage h3 {
    margin: 2rem;
    font-size: 1.2rem;
  }
  .mainPage h4 {
    font-size: 1rem;
    margin-right: 5rem;
  }
}
/*todoListのスタイリング*/
.todoList {
  width: 100vw;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.flex1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.completed {
  text-decoration: line-through;
  text-decoration-color: #000000;
  opacity: 0.2;
}
.todoList li {
  color: #000000;
}
.todoList span {
  font-size: 1.3rem;
  padding: 0 2.2rem;
  color: #000000;
  font-style: italic;
}
.todoList button {
  background-color: #ffffff;
  border-style: hidden;
  margin-right: 1px;
  border-radius: 0.2rem;
}
@media (max-width: 300px) {
  .todoList span {
    font-size: 1rem;
  }
}
